# Homework 1 (100 points)

The goal of this homework is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops

look through the pandas documentation for alternatives.

## Exercise 1 (60 points)

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

a) Write a function that reads in a filepath to a csv and returns the DataFrame. (5 points)

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')
df

b) Write a function that returns the number of rows that have at least one empty column value - (2.5 points)

In [ ]:
def num_nans(df):
    return sum(df.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

print("there are " +  str(num_nans(df)) + " rows with at least one empty value")

c) Write a function that removes all columns with more than 200 NaN values - (2.5 points)

In [ ]:
def drop_na(df):
    for Name in df.columns:
      t = df[Name].isnull().sum()
      if t > 200:
        del df[Name]    
    return df

df = drop_na(df)
df.columns

d) Write a function that replaces `male` with 0 and `female` with 1 - (2.5 points)

In [ ]:
def to_numerical(df):
    df.loc[df["Sex"] == "male", "Sex"] = 0
    df.loc[df["Sex"] == "female", "Sex"] = 1
    return df['Sex']

df['Sex'] = to_numerical(df)
df.head()

e)  Write a function that adds four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column. - (5 points) 

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

In [ ]:
def seperate(x):
    sep1 = x.split(", ")
    l_name = sep1[0]
    sep2 = sep1[1].split(". ")
    title = sep2[0]
    sep3 = sep2[1].split(" ")
    if len(sep3)==1:
        f_name = sep3[0]
        m_name = ""
    else:
        f_name = sep3[0]
        m_name = sep3[1]
    return [f_name,m_name,l_name, title]
    
def extract_names(df):
    return [seperate(x) for x in df['Name']]

df[['First Name', 'Middle Name', 'Last Name', 'Title']] = extract_names(df)
df.head()

f) Write a function that replaces all missing ages with the average age - (2.5 points)

In [ ]:
import numpy as np
def replace_with_mean(df):
    avg = df.Age.mean()
    return np.round(df['Age'].fillna(avg),1)

df['Age'] = replace_with_mean(df)
df.head()

The next set of questions focus on visualization. Please use pandas and [matplotlib](https://pypi.org/project/matplotlib/) for all plotting.

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe. - (2.5 points)

In [ ]:
import matplotlib.pyplot as plt
years_survived = df[df['Survived']==1]['Age'].mean()
years_not_survived = df[df['Survived']==0]['Age'].mean()
plt.bar(['survived','not survived'], [years_survived, years_not_survived],width=0.2)
plt.ylabel("average age")

-> your answer here

h) Plot a bar chart of the proportion that survived for male and female. Briefly comment on what you observe. - (2.5 points)

In [ ]:
no_male = len(df[df['Sex']==0])
no_female = len(df[df['Sex']==0])
surv_male = len(df[(df['Survived']==1)&(df['Sex']==0)])
surv_female = len(df[(df['Survived']==1)&(df['Sex']==1)])
not_surv_male = no_male-surv_male
not_surv_female = no_female-surv_female
X = ['Male','Female']
Surv = [surv_male,surv_female]
not_surv = [not_surv_male,not_surv_female]
X_axis = np.arange(len(X))
plt.bar(X_axis - 0.2, Surv, 0.4, label = 'Survived')
plt.bar(X_axis + 0.2,not_surv, 0.4, label = 'Not survived')
plt.xticks(X_axis, X)
plt.ylabel("Percentage of people")
plt.legend()
plt.show()

-> your answer here

i) Plot a bar chart of the proportion that survived for each title. Briefly comment on what you observe. - (5 points)

In [ ]:
titles = df['Title'].unique()
surv = []
not_surv = []
for x in titles:
    no_of_x=len(df[df['Title']==x])
    no_of_surv_x=len(df[(df['Title']==x)&(df['Survived']==1)])
    no_of_not_surv_x=no_of_x - no_of_surv_x
    surv.append(no_of_surv_x)
    not_surv.append(no_of_not_surv_x)
X = titles
X_axis = np.arange(len(X))
plt.figure(figsize=(20,10))
plt.bar(X_axis - 0.2, surv, width = 0.4, label = 'survived')
plt.bar(X_axis + 0.2, not_surv, width= 0.4, label = 'not_survived')
plt.xticks(X_axis, X)
plt.legend()
plt.show()

-> your answer here

j) Plot a bar chart of the average fare for those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
ave_survived_fare=df[df['Survived']==1]['Fare'].mean()
ave_not_survived_fare=df[df['Survived']==0]['Fare'].mean()
plt.bar(['survived','not survived'], [ave_survived_fare,ave_not_survived_fare],width=0.2)

-> your answer here

k) Create a boxplot for the fare of those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
plt.boxplot([df[df['Survived']==1]['Fare'],df[df['Survived']==0]['Fare']],patch_artist=True,labels=['survived','Not survived'])
plt.ylabel('the fare')
plt.show()

-> your answer here

k) Create a function to subtract the mean fare from the actual fare then divide by the standard deviation - (2.5 points)

In [ ]:
def fare(df):
    return (df['Fare']-df['Fare'].mean())/df['Fare'].std()
df['Fare']=fare(df)
df.head()

l) Remove all non-numerical columns from the dataframe. - (2.5 points)

In [ ]:
titles = df['Title'].unique()
surv = []
not_surv = []
for x in titles:
    no_of_x = len(df[df['Title']==x])
    no_of_surv_x = len(df[(df['Title']==x)&(df['Survived']==1)])
    no_of_not_surv_x = no_of_x - no_of_surv_x
    surv.append(no_of_surv_x)
    not_surv.append(no_of_not_surv_x)
X = titles
X_axis = np.arange(len(X))
plt.figure(figsize = (20,10))
plt.bar(X_axis - 0.2, surv, width = 0.4, label = 'survived')
plt.bar(X_axis + 0.2, not_surv, width= 0.4, label = 'not_survived')
plt.xticks(X_axis, X)
plt.legend()
plt.show()

m) Ignoring passenger ID, write a function that returns the names of the N most similar pairs of passengers using the euclidean distance? - (15 points)

In [ ]:
import math

def euclidean_distance(p1,p2):
    sum = 0
    for x in range(len(p1)):
        sum += (p1[x]-p2[x])**2
    return math.sqrt(sum)

def N_most_similar_pairs(df, N):
    df_orig = df
    
    df = df.drop(['Name','Ticket','Embarked','First Name','Middle Name','Last Name','Title','PassengerId'],axis=1)
    
    n_df = (df.values)
    matrix = np.zeros(((df.values).shape[0],(df.values).shape[0]))
    
    for i in range((df.values).shape[0]):
        for j in range((df.values).shape[0]):
            matrix[i,j] = euclidean_distance(n_df[i],n_df[j])
            
    for i in range((df.values).shape[0]):
        matrix[i,i] = math.inf
        
    output = []
    for y in range(N):
        x = np.unravel_index(np.argmin(matrix, axis=None), matrix.shape)
        n1 = df_orig['Name'][x[0]]
        n2 = df_orig['Name'][x[1]]
        output.append([n1, n2])
        matrix[x[0],x[1]] = math.inf
    return output

print("The 3 most similar passengers are: " + str(N_most_similar_pairs(df, 3)))

## Exercise 2 - (40 points)

Another way to get data is by using APIs. Here we will be using the google books API (https://developers.google.com/books/docs/overview)

a) Create a list with these topic strings: Python; Data Science; Data Analysis; Machine Learning; and Deep 
Learning. Use these topics, one at a time, to query the Google Books API by modifying the code below. - (5 points)

In [7]:
import requests
import json

"""
    Google Books Api
    See: https://developers.google.com/books/
"""

def get(topic=""):
    BASEURL = 'https://www.googleapis.com/books/v1/volumes'
    headers = {'Content-Type': 'application/json'}

    response = requests.get(BASEURL + "?q=" + topic, headers=headers)

    if response.status_code == 200:
        return json.loads(response.content.decode('utf-8'))

    return response

topics = ["Python", "Data Science", "Data Analysis", "Machine Learning", "Deep Learning"]
python = get(topics[0])
data_science = get(topics[1])
data_analytics = get(topics[2])
machine_learning = get(topics[3])
deep_learning = get(topics[4])

b) For each returned JSON string: Convert the JSON string to a dict using `loads( )` then use this to convert it to a DataFrame: `pd.json_normalize( thedict['items'] )`. Then save them as `.csv`. - (5 points)

In [10]:
py_df = pd.json_normalize(python['items'])
ds_df = pd.json_normalize(data_science['items'])
da_df = pd.json_normalize(data_analytics['items'])
ml_df = pd.json_normalize(machine_learning['items'])
dl_df = pd.json_normalize(deep_learning['items'])

py_df.to_csv('python.csv')
ds_df.to_csv('data_science.csv')
da_df.to_csv('data_analytics.csv')
ml_df.to_csv('machine_learning.csv')
dl_df.to_csv('deep_learning.csv')

c) For each DataFrame, relabel `volumeInfo.title` as `Title` and `volumeInfo.authors` as `Authors`. - (5 points)

In [ ]:
py_df.rename(columns={'volumeInfo.title': 'Title', 'volumeInfo.authors': 'Authors'}, inplace=True)
ds_df.rename(columns={'volumeInfo.title': 'Title', 'volumeInfo.authors': 'Authors'}, inplace=True)
da_df.rename(columns={'volumeInfo.title': 'Title', 'volumeInfo.authors': 'Authors'}, inplace=True)
ml_df.rename(columns={'volumeInfo.title': 'Title', 'volumeInfo.authors': 'Authors'}, inplace=True)
dl_df.rename(columns={'volumeInfo.title': 'Title', 'volumeInfo.authors': 'Authors'}, inplace=True)

d) For each DataFrame create a new column called `Topic` with the name of the topic from the API query above. Then merge all DataFrames into one and save it to a new `.csv` file. - (10 points)

In [ ]:
py_df["Topic"] = "Python"
ds_df["Topic"] = "Data Science"
da_df["Topic"] = "Data Analytics"
ml_df["Topic"] = "Machine Learning"
dl_df["Topic"] = "Deep Learning"
all_df = pd.concat([py_df, ds_df, da_df, ml_df, dl_df])

e) Write a function that returns all rows whose `Title` contains the word `Data` (case incensitive). - (5 points)

In [ ]:
def title_date(df):
  df = df[df['Title'].str.contains('Data')]
  return df

f) Write a function that returns all rows whose `Authors` first or last name starts with the letter `E` - (10 points)

In [ ]:
def authors(df):
    authors = []
    for i, row in df.iterrows():
        name = row.values[6][0].split(" ")
        f_Name = name[0]
        l_Name = name[-1]
        if f_Name[0] == "E":
          authors.append(row)
        elif l_Name[0] == "E":
          authors.append(row)
    return authors
    
print(authors(all_df))